<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/css/indexPage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <div class="navbar-right">
                    <a id="Login" href="/Account/UserProfile">Profile</a> &nbsp; | &nbsp;
                    <a id="Login" href="/Account/Delete">Delete Account</a> &nbsp; | &nbsp;
                    <a id="Login" href="/Account/LogOut">Logout</a>                    
                </div>
                <a class="navbar-brand" href="/Home/Index"><img alt="Brand" src="..."></a>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/DashBoard">DashBoard</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/DashBoard/Budget">Budget</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/DashBoard/Expenses">Expenses</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/DashBoard/Alerts">Alerts</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="navbar-center">
                    @RenderBody();
                </div>
            </div>
        </div>
    </div>

</body>
</html>