@{
    Layout = "~/Views/Shared/Feature.cshtml";
}

<p>you can write budget in a file and upload it to our system and our system creates complete budget for you systematically... Budget file looks like as below</p>
<table border="1" width="500">
    <tr>
        <td colspan="2">Income</td>
        <td colspan="2">20000</td>
    </tr>
    <tr>
        <td>Food</td>
        <td>Transport</td>
        <td>cloting</td>
        <td>Mislaneous</td>
    </tr>
    <tr>
        <td>5000</td>
        <td>5000</td>
        <td>5000</td>
        <td>5000</td>
    </tr>
</table>
<p>You can enter as many fields as you want, and you can also give amount in percentage.</p>