
@{
    Layout = "~/Views/Shared/Feature.cshtml";
}

<p>All the catagories you mentioned in your budget shown in the expense transection, you can add expense in any catagory</p>
<p>if your exepense catagory is not there in budet then you firt have to add it in budget and then add expense against it.</p>