
@{
    Layout = "~/Views/Shared/Feature.cshtml";
}

<p>Our Interesting Features Allows a individual to manage personal expenses in our system for free. For the time beign, we offer limited services,</p>
<p> But with the Passage of time we add more interesting features using which you can manage all your bank accounts and expenses here using </p>
<p>our system.</p>