@{
    ViewBag.Title = "AddExpense";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<form method="post" action="/Expense/SaveExpense">
    <table>
        <tr>
            <td>Description</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="Amount" /></td>
        </tr>
        <tr>
            <td>Expense Catagory</td>
            <td>
                <select name="ddl_cat">
                    @foreach (var x in @Model)
                    {
                        <option value="@x.CatName">@x.CatName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="btn btn-default" value="Add Expense" /></td>
        </tr>
    </table>

</form>